@import 'root';
@import 'media';
@import 'keyframes';

html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// Стилизация скролбра

%scrollbar::-webkit-scrollbar {
    width: .5%;
    min-width: 8px;
}

%scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

%scrollbar::-webkit-scrollbar-thumb {
    border-left: 1px solid #F2F2F2;
    background: $accent;

}

@mixin placeholder($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }

    &::-moz-placeholder {
        color: $color;
    }

    /* Firefox 19+ */
    &:-moz-placeholder {
        color: $color;
    }

    /* Firefox 18- */
    &:-ms-input-placeholder {
        color: $color;
    }
}


body {
    font-family: $font; // FF MAIN
    margin: 0;
    padding: 0;
    cursor: default;
    background-color: $bgc;
    color: $gen;
    @extend %scrollbar;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;

}

p {
    color: $text;
}

ul {
    list-style: none;
}

.flexbox {
    display: flex;
    align-items: center;
    align-self: center;
}

.wrapper {
    width: calc(80% - 30px);
    margin: 0 auto;
    max-width: 1440px;
    height: auto;

    padding-top: 8.125rem;

    &--header {
        padding-top: 7vh;

        * {
            z-index: 2;
        }
    }
}

a {
    color: $accent;
    text-decoration: none;
    display: inline-block;
}

svg {
    min-height: 1rem;
    height: 1rem;
}

textarea,
button,
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: $font;
    border: none;
    background: none;
    outline: none;

    &[disabled] {
        cursor: default;
        opacity: .7;
    }
}

button {
    cursor: pointer;
}

name {
    display: none;
}

// убирает цвет автокомплита у инпута
input {

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        font-size: 1rem;
        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
        transition: background-color 5000s ease-in-out 0s;
    }
}

.preloader {
    width: 100vw;
    height: 100vh;
    background-color: purple;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    transition: all .3s;

    &::after {
        content: '';
        position: absolute;
        top: calc(50% - 2rem);
        left: calc(50% - 2rem);
        height: 4rem;
        width: 4rem;
    }
}

// Крестик для кнопки закрытия
%close-btn {
    position: absolute;
    right: 5%;
    top: 3%;
    height: 20px;
    width: 20px;
    background: transparent;

    &::after,
    &::before {
        transition: background-color .3s;
        content: '';
        width: 100%;
        height: 2px;
        background-color: $gen;
        position: absolute;
        top: 50%;
        right: calc(50% - 10px);
    }

    &::after {
        transform: rotate(45deg);
    }

    &::before {
        transform: rotate(135deg);
    }

    &:hover::after,
    &:hover::before {
        background-color: $accent;
    }
}

%burger {
    width: 36px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0.2rem;
    cursor: pointer;

    &::after,
    &::before,
    &>span {
        content: '';
        width: 100%;
        height: 2px;
        background-color: $cream;
        margin-bottom: 13px;
        transition: all .3s ease;
    }

    &::after {
        margin-bottom: 0;
        width: 50%;
    }
}

%arrow {
    width: 6rem;
    height: 6rem;

    svg {
        width: 100%;
        height: 100%;
    }
}

%green-btn {
    width: 20.6875rem;
    background: $accent;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    letter-spacing: 0.06em;
    color: $cream;
    padding: 1.875rem 0;
    margin: 0 auto;
    display: block;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    @extend .flexbox;
    justify-content: center;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all .4s ease;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    //Вложенное окно с контентом, необходимо задать фиксированные размерыж
    &__box {
        padding: 2rem 3rem;
        box-sizing: border-box;
        position: relative;
        background-color: $bgc;
        max-height: 100%;
        max-width: 100%;
    }

    // Кнопка закрытия
    &__close {
        @extend %close-btn;
    }
}

.nav-arrow {
    @extend %arrow;

    &--prev {
        margin-right: 1.5625rem;
    }
}

.owl-prev.disabled,
.owl-next.disabled {
    transition: opacity .3s ease;
    opacity: 0.4;
}

h2,
h1 {
    font-family: $accentFont;
}

h1 {
    font-size: 5.25rem;
    line-height: 5.125rem;
    font-weight: 400;
}

h2 {
    font-size: 5.25rem;
    line-height: 5.5625rem;
    font-weight: 400;
    color: #61573E;
}

/*MODALS*/

.map {

    .modal__box {
        width: 80%;
        height: 80%;
        padding: 0;
    }

    #map {
        width: 100%;
        height: 100%;
    }

    .modal__close {
        top: -40px;
        right: -40px;
        width: 35px;
        height: 35px;
    }

    .modal__close::after,
    .modal__close::before {
        background: $cream;
        height: 2px;
    }
}

.enter {
    .modal__box {
        padding: 3% 2% 2%;
        background: #fff;
        width: 400px;
    }

    .modal__close {
        top: 20px;
        right: 20px;
    }

    &__title {
        font-weight: 500;
        font-size: 1.5rem;
        text-align: center;
        color: $accent;
        margin-bottom: 1.5625rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__input {
        background: #FEFEFE;
        border: 1px solid rgba(0, 0, 0, 0.2);
        height: 52px;
        margin-bottom: 1.5625rem;
        padding: 0 25px;
        font-size: 0.875rem;
    }

    &__inputs-container {
        margin-top: 0.9375rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__checkbox-container {
        position: relative;
        padding-left: 30px;
    }

    &__remember {
        &:checked+label:after {
            visibility: visible;
            opacity: 1;
        }
    }

    &__remember-label {
        font-size: 0.875rem;

        &:before {
            content: '';
            width: 19px;
            height: 19px;
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid rgba(0, 0, 0, .2);
        }

        &:after {
            content: '';
            width: 13px;
            height: 13px;
            position: absolute;
            top: 4px;
            left: 4px;
            background: $accent;
            visibility: hidden;
            opacity: 0;
            transition: all .3s ease;
        }
    }

    &__forget {
        font-size: 0.875rem;
        line-height: 1rem;
        opacity: 0.4;
    }

    &__submit {
        margin-top: 3.125rem;
        @extend %green-btn;
    }

    &__alternative {
        margin-top: 3.125rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &-label {
            font-size: 0.875rem;
            line-height: 1rem;
            opacity: 0.3;
            margin-right: 25px;
        }

        &-icon {
            width: 25px;
            height: 25px;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }


            svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__register {
        font-size: 14px;
        line-height: 16px;
        color: $text;
        margin-top: 1.875rem;
        text-align: center;
        width: 100%;
        text-decoration: underline;
    }
}

/*MENU*/

.menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background: $accent;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    padding: 6vh 5vw;
    transition: all .3s ease;

    &.active {
        visibility: visible;
        opacity: 1;
    }

    * {
        color: $cream;
    }

    &__title {
        &-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            position: relative;
            border-bottom: 1px solid $cream;
            padding-bottom: 1.875rem;
        }
    }

    &__controls {
        width: 20rem;
        margin-right: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__close {
        position: absolute;
        top: 45%;
        right: 0;
        width: 27px;
        height: 27px;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__account,
    &__cart {
        display: flex;
        align-items: flex-end;

        &-icon {
            width: 27px;
            height: 27px;
            margin-right: 15px;

            svg {
                width: 100%;
                height: 100%;
            }
        }

        &-name,
        &-sum {
            font-size: 1rem;
        }

        i {
            font-style: normal;
        }

    }

    &__content {
        display: flex;
        height: 85%;
    }

    &__nav {
        width: 20%;
        border-right: 1px solid $cream;
        padding-top: 10vh;
        position: relative;

        &-list {
            display: flex;
            flex-direction: column;
        }

        &-link {
            font-weight: 600;
            font-size: 0.875rem;
            line-height: 1.0625rem;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            padding: 0.6875rem 0;
        }

        &-contacts {
            position: absolute;
            bottom: 0;
            left: 0;
        }

        &-soc {
            margin-bottom: 2.5rem;

            &-link {
                width: 27px;
                height: 27px;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &-phone {
            font-size: 1rem;
        }
    }

    &__products {
        padding-top: 10vh;
        width: 80%;
        margin-left: 35px;
        display: flex;
        justify-content: space-between;
        padding-right: 3%;

        &-list {
            display: flex;
            flex-direction: column;
            width: 50%;
        }

        &-pic {
            width: 40%;
            height: 60vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            transition: all .3s ease;
        }
    }

    &__product {
        font-size: 1.5rem;
        opacity: 0.66;
        padding: 0.9375rem 0;
        transition: all .2s ease;

        &.active {
            font-weight: 600;
            opacity: 1;
        }

        &:first-child {
            padding: 0.6875rem 0 1.375rem;
        }
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    width: 100%;
    height: auto;
    max-height: 100vh;
    overflow-y: auto;
    z-index: 20;
    transition: all .4s ease-out;

    &.focus {

        bottom: 0;
    }

    &.active {
        transform: translateY(0);
    }

    &__header {
        background: $lightBrown;
        padding: 1.625rem 1.875rem;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        background: #fff;
        padding: 1.6875rem 1.625rem;
    }

    &__close {
        @extend %close-btn;
        position: relative;
        right: 0;
        top: 0;
        height: 50px;
        width: 50px;
        background: 0 0;
    }

    &__logo {
        min-width: 175px;
        width: 30%;
        height: 60px;
        background: url(../img/mobile-logo.png) center/contain no-repeat;
        position: relative;
        top: 5px;
    }

    &__call {
        width: 3.125rem;
        height: 3.125rem;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
        padding-top: 1.5625rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid $text;
    }

    &__link {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1.5rem;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $accent;
        padding: 1rem 0;
    }

    &__cart,
    &__account,
    &__contacts {
        width: 100%;
        padding: 1.875rem 0;
        font-size: 1.5rem;
        display: flex;
        align-items: center;

        &-icon {
            width: 40px;
            height: 40px;
            margin-right: 17px;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__account {
        border-top: 1px solid $text;
        border-bottom: 1px solid $text;
    }

    &__contacts {
        justify-content: space-between;
    }

    &__phone {
        font-weight: 500;
        font-size: 2.3rem;
        color: $text;
    }

    &__soc {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 1.25rem;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__search {
        margin-top: 50px;
        width: 100%;
        position: relative;

        &-input {
            width: 100%;
            height: 70px;
            background: $accent;
            color: $cream;
            @include placeholder($cream);
            padding: 0 4.375rem 0 1.25rem;
            font-size: 1.5rem;
        }

        &-btn {
            width: 2.5rem;
            height: 2.5rem;
            position: absolute;
            right: 1.25rem;
            top: 50%;
            transform: translateY(-50%);

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}


/*HEADER*/

.burger {
    @extend %burger;
    position: absolute;
    top: 7.5rem;
    left: 7%;

    &:hover {
        &:after {
            width: 100%;
        }
    }
}

.header {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.3;
        z-index: 0;
    }

    * {
        color: $cream;
    }



    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__logo {
        mix-blend-mode: screen;
        width: 12.5%;

        &-pic {
            width: 100%;
            height: auto;
        }
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 63%;
        text-align: center;

        &-item {
            width: auto;

            &--phone {
                padding-left: 5%;
                width: 16.25rem;
            }
        }

        &-link {
            font-size: 0.875rem;
            text-transform: uppercase;
            font-weight: 500;
            text-align: center;

            &--phone {
                font-size: 1.5rem;
                opacity: 0.8;
            }
        }
    }

    &__icons {
        width: 11%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__icon {
        width: 32px;
        height: 32px;
        position: relative;

        svg {
            width: 100%;
            height: 100%;
        }

        &:hover {
            svg path {
                fill: $accent;
            }
        }
    }

    &__cart-sum {
        width: 18px;
        height: 18px;
        background: $accent;
        position: absolute;
        top: -15px;
        right: -15px;
        border-radius: 100%;
        font-weight: 500;
        font-size: 11px;
        line-height: 18px;
    }

    &__content {
        height: 100%;
        position: relative;
        z-index: 2;
        padding-top: 10vh;

    }

    &__title {
        font-family: $accentFont;
        font-size: 5.25rem;
        line-height: 5.125rem;
        font-weight: 400;
        margin-bottom: 4vh;
    }

    &__subtitle {
        font-size: 1.125rem;
        line-height: 1.3125rem;
        opacity: 0.8;
    }

    &__products {
        border: 1px solid $cream;
        box-sizing: border-box;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.0625rem;
        text-align: center;
        text-transform: uppercase;
        width: 300px;
        padding: 25px 0;
        display: inline-block;
        margin: 7vh 0 8vh;
    }

    &__soc-link {
        height: 25px;
        width: 25px;

        svg {
            width: 100%;
            height: 100%;
        }


    }

    &__call-btn {
        width: 59px;
        height: 59px;
        display: none;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

/*ECO*/

.eco {
    background: $accent;
    height: auto;
    position: relative;

    * {
        color: $cream;
    }

    &__table {
        display: flex;
        flex-direction: column;
        margin-top: 10rem;

        &-container {
            position: relative;
            padding-bottom: 12.5rem;

            &.second {
                .eco__model {
                    right: 55%;
                    top: 15%;
                }
            }

            &.third {
                .eco__model {
                    left: auto;
                    right: 10%;
                    top: 40%;
                }
            }
        }
    }

    &__model {
        height: 37.5rem;
        width: 37.5rem;
        position: absolute;
        top: -14%;
        right: 5%;
        transition: all 1s ease-out;

        canvas {
            height: 100% !important;
            width: 100% !important;
        }
    }

    &__item {
        width: 45%;
        display: flex;
        align-items: baseline;
        margin-bottom: 12vh;

        &:nth-child(2n) {
            align-self: flex-end;
        }

        &-content {
            width: 60%;
            padding-left: 2.5rem;
        }

        &-title {
            font-size: 1.5rem;
            line-height: 110.69%;
            font-weight: 500;
            margin-bottom: 1.25rem;
        }

        &-text {
            font-size: 1rem;
            line-height: 140%;
            margin-bottom: 0.9375rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__num {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 11.375rem;
        height: 11.375rem;
        border-radius: 100%;
        border: 2px solid $cream;

        i {
            font-size: 6rem;
            font-family: $accentFont;
            font-style: normal;
            display: inline-block;
            margin-top: -1.875rem;
        }
    }


    &__more-btn {
        width: 16.875rem;
        opacity: 0.6;
        border-bottom: 1px solid $cream;
        text-transform: uppercase;
        display: block;
        font-weight: 500;
        margin: 12.5rem auto 0;
        padding-bottom: 10px;
        font-size: 0.875rem;
        line-height: 1.0625rem;
    }
}

/*PRODUCTION*/

.production {
    height: auto;
    overflow: hidden;
    padding-bottom: 6.875rem;

    &__title {


        &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    &__subtitle {
        font-weight: 500;
        font-size: 0.875rem;
        color: $accent;
        margin-top: .9375rem;
    }

    &__slider {
        margin-top: 6.25rem;
        height: 31.25rem;
        margin-bottom: 12.5rem;

        * {
            height: 31.25rem;
        }

        .owl-stage-outer {
            overflow: visible !important;
        }
    }

    &__slide {
        &-pic {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        &-title {
            font-weight: 500;
            font-size: 1.5rem;
            width: 50%;
            margin-top: 1.25rem;
            height: auto;
        }
    }

    &__catalog-btn {
        @extend %green-btn;
    }
}

/*RECIPES*/

.recipes {
    height: auto;
    padding-bottom: 20.625rem;
    overflow: hidden;

    &__title {
        &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    &__subtitle {
        font-size: 1rem;
        line-height: 140%;
        color: $accent;
        margin-top: 0.9375rem;
    }

    &__all-btn {
        position: relative;
        margin-left: 40%;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.0625rem;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        padding-bottom: 9px;
        align-self: center;

        &:hover {
            &:after {
                width: 100%;
            }
        }

        &:after {
            content: '';
            width: 90%;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            background: $accent;
            transition: all .3s ease-out;
        }
    }

    &__slider {
        margin-top: 6.25rem;

        .owl-stage-outer {
            overflow: visible !important;
        }
    }

    &__slider,
    &__slide {
        height: 40rem;
    }

    &__slide {
        overflow: hidden;

        &-pic {
            height: 50%;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        &-content {
            background: #fff;
            height: 50%;
            padding: 1.4375rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &-title {
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 110.69%;
            color: $accent;
            height: 30px;
        }

        &-text {
            margin-top: 0.75rem;
            font-size: 1rem;
            line-height: 140%;
            color: $gen;
            height: 8.125rem;
            width: 90%;

        }

        &-info {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        &-time,
        &-portion {
            width: 47%;

            &-title {
                font-size: 0.875rem;
                line-height: 1rem;
                color: $accent;
            }

            &-container {
                display: flex;
                align-items: center;
                padding-top: 1.25rem;
            }

            &-icon {
                height: 1.875rem;
                width: 1.875rem;
                margin-right: 1.875rem;

                svg {
                    height: 100%;
                    width: 100%;
                }
            }

            &-label {
                font-size: 0.875rem;
                line-height: 1rem;
            }
        }
    }

    &__mobile-all {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        display: none;
    }

}

/*DELIVERY*/

.delivery {
    height: auto;
    background: $accent;
    padding-bottom: 11.25rem;

    .wrapper {
        display: flex;
    }

    * {
        color: $cream;
    }

    &__content {
        width: 55%;
        padding-right: 5%;
    }

    &__table {
        margin-top: 4.6875rem;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 45%;

        &-title {
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 110.69%;
            margin-bottom: 35px;
        }

        &-text {
            font-size: 1rem;
            line-height: 152%;
            margin-bottom: 70px;
            height: 100px;
        }

        &-btn {
            font-weight: 600;
            font-size: 0.875rem;
            line-height: 1.0625rem;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            position: relative;
            display: inline-block;
            padding-bottom: 8px;

            &:hover {
                &:after {
                    width: 100%;
                }
            }

            &:after {
                content: '';
                width: 90%;
                position: absolute;
                bottom: 0;
                left: 0;
                height: 1px;
                background: $cream;
                transition: all .3s ease-out;
            }
        }
    }

    &__pic {
        position: absolute;
        right: 0;
        top: 0;
        width: 45%;
        bottom: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

/*PRESENT*/

.present {
    min-height: 100vh;
    height: auto;
    padding-bottom: 18.75rem;

    &__title {
        width: 50%;
    }

    &__subtitle {
        font-size: 1rem;
        line-height: 140%;
        margin-top: 5vh;
        color: $accent;
    }

    &__table {
        margin-top: 7vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% top;
        width: 30%;
        height: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.25rem 1.875rem 1.875rem;

        &--present {
            background: #fff;
            padding: 2.1875rem 1.875rem 1.875rem;

            .present__item-title {
                font-weight: 500;
                font-size: 1.5rem;
                color: $accent;
            }

            .present__item-text {
                font-size: 1rem;
                line-height: 140%;
                width: 80%;
            }
        }

        &-icon {
            background: $cream;
            height: 50px;
            width: 50px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
        }

        &-btn {
            width: 100%;
            border: 1px solid $cream;
            height: 5rem;

            * {
                color: $cream;
            }

            &--present {
                @extend %green-btn;
            }
        }
    }

    &__btn {
        &-title {
            font-size: 1.5rem;
            line-height: 110.69%;
        }

        &-subtitle {
            margin-top: 2px;
            font-size: 1rem;
        }
    }
}

/*SHOPS*/

.shops {
    background: $accent;
    height: auto;

    .wrapper {
        border-bottom: 1px solid rgba($cream, 0.6);
        height: 100%;
    }

    * {
        color: $cream;
    }

    &__table {
        display: flex;
        justify-content: space-between;
        margin-top: 10vh;
        margin-bottom: 15vh;
    }

    &__item {
        width: 48%;
    }

    &__map {
        width: 100%;
        height: 45vh;
        background: red;
        margin-bottom: 4vh;

        &-title {
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 110.69%;
            margin-bottom: 0.9375rem;
        }

        &-address {
            font-size: 1rem;
        }
    }
}

/*FOOTER*/

.footer {
    background: $accent;
    height: auto;

    * {
        color: $cream;
    }

    .wrapper {
        padding-top: 10vh;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba($cream, 0.6);
        padding-bottom: 5vh;
    }

    &__row {
        width: 25%;
        display: flex;
        flex-direction: column;

        &:last-child {
            width: 20%;
        }
    }

    &__link {
        padding: 1.125rem 0;
        font-size: 1rem;
    }

    &__search {
        position: relative;
        margin-bottom: 4vh;

        &.focus {
            .footer__search-reset {
                visibility: visible;
                opacity: 1;
            }

            .footer__search-icon {
                visibility: hidden;
                opacity: 0;
            }
        }

        &-icon {
            position: absolute;
            top: 50%;
            left: 1.125rem;
            height: 12px;
            width: 12px;
            transform: translateY(-50%);

            svg {
                height: 100%;
                width: 100%;
            }
        }

        &-reset {
            @extend %close-btn;
            top: 50%;
            left: 0.8rem;
            height: 12px;
            width: 12px;
            transform: translateY(-50%);
            visibility: hidden;
            opacity: 0;
            transition: all .3s ease;

            &::after,
            &::before {
                background: $cream;
            }
        }

        &-input {
            background: rgba(255, 255, 255, 0.2);
            width: 100%;
            height: 40px;
            border-radius: 20px;
            color: $cream;
            padding: 0 20px 0 40px;
        }
    }

    &__contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-phone {
            font-size: 1.125rem;
        }

        &-soc {
            height: 25px;
            width: 25px;

            svg {
                height: 100%;
                width: 100%;
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        padding: 45px 0 35px;
        align-items: center;
    }

    &__logo {
        mix-blend-mode: screen;
        width: 10%;
        height: auto;

        img {
            width: 100%;
            height: 100%;
            object-position: left;
            object-fit: contain;
        }
    }

    &__policy {
        font-size: 0.875rem;
        line-height: 1.125rem;
        text-align: center;
        width: 30%;
    }

    &__asap {
        width: 85px;
        height: 35px;

        &--mobile {
            display: none;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

/*MAKING PAGE*/

.second-menu {
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: $lightBrown;
    padding: 0 calc(15% - 15px) 0 5.3%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    * {
        color: $text;
    }

    .burger {
        position: static;
    }

    .burger::after,
    .burger::before,
    .burger>span {
        background: $text;
    }

    &__logo {
        width: 175px;
        height: 52px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-top: 13px;
    }

    &__list {
        width: 61%;
        min-height: 755px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1rem;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        transition: all .3s ease;

        &--phone {
            font-size: 1.125rem;
            line-height: 134.69%;
            opacity: 0.8;
            font-weight: 500;
            padding-left: 1.875rem;

            &:hover {
                opacity: 1;
            }
        }
    }

    &__icons {
        width: auto;
        display: flex;
        align-items: center;

        svg {
            path {
                fill: $text;
            }
        }
    }

    &__icon {
        width: 30px;
        height: 30px;
        margin-right: 1.875rem;
        position: relative;

        &:hover {
            svg path {
                fill: $accent;
            }
        }

        &:last-child {
            margin-right: 0;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__call-btn {
        display: none;
    }

    &__cart-sum {
        width: 18px;
        height: 18px;
        background: #5c8741;
        position: absolute;
        top: -15px;
        right: -15px;
        border-radius: 100%;
        font-weight: 500;
        font-size: 11px;
        line-height: 18px;
        color: $cream;
    }
}

.crumbs {
    display: flex;


    &__crumb {
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1rem;
        letter-spacing: 0.06em;
        color: $accent;
        opacity: 0.4;
        margin-right: 0.8rem;

        &:not(.active) {
            &:hover {
                opacity: 0.8;

                &:after {
                    opacity: 0.4;
                }
            }

        }

        &.active {
            opacity: 1;
        }

        &:after {
            content: '/';
            display: inline-block;

        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}

.about {
    background: $lightBrown;
    height: auto;
    padding-bottom: 11.875rem;

    .wrapper {
        padding-top: 2.5rem;
    }

    &__title {
        width: 70%;
        margin-top: 5rem;
    }

    &__content {
        margin-top: 7rem;
        display: flex;
        justify-content: space-between;

    }

    &__photo-container {
        width: 35%;
        height: 40rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__text {
        width: 55%;
        padding-right: 20%;

        &-title {
            font-weight: 500;
            font-size: 2.25rem;
            line-height: 117.8%;
            margin-bottom: 4vh;
        }

        &-text {
            font-size: 1rem;
            line-height: 140%;
        }

        &-link {
            margin-top: 4.375rem;
            font-weight: 600;
            font-size: 0.875rem;
            line-height: 1rem;
            text-align: center;
            letter-spacing: 0.06em;
            text-decoration-line: underline;
            text-transform: uppercase;
        }
    }
}

.features {
    background: $accent;

    * {
        color: $cream;
    }

    &__table {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 80vh;
    }

    &__item {
        width: 47%;

        &-title {
            font-weight: 500;
            font-size: 2.25rem;
            line-height: 2.25rem;
            margin-bottom: 1.875rem;
        }

        &-text {
            font-size: 1rem;
            line-height: 140%;
            width: 85%;
        }
    }
}

/*NEWS*/

.news {
    height: auto;
    padding-bottom: 11.875rem;
    overflow: hidden;

    &__title {
        font-weight: 500;
        font-size: 2.25rem;
        line-height: 117.8%;
        font-family: $font;
        width: 40%;
    }

    &__title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5rem;
    }

    &__all-btn {
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.0625rem;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-left: 25%;
        position: relative;
        padding-bottom: 9px;

        &:hover {
            &:after {
                width: 100%;
            }
        }

        &:after {
            content: '';
            width: 90%;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            background: $accent;
            transition: all .3s ease-out;
        }
    }

    &__slider {
        height: 35rem;

        .owl-stage-outer {
            overflow: visible !important;
        }
    }

    &__slide {
        height: 35rem;

        &-pic {
            height: 55%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        &-content {
            padding: 1.875rem 0.9375rem 3rem 1.5rem;
            height: 45%;
            background: #fff;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &-title {
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 110.69%;
            color: $accent;
            height: 100px;
        }

        &-labels {
            height: auto;

            * {
                font-size: 1rem;
                line-height: 140%;
                opacity: 0.8;
            }
        }

        &-published {
            i {
                font-style: normal;
            }
        }
    }
}