@import 'root';
@import 'keyframes';
@import 'mixins';

@media (max-width: 1600px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 1550px) {
    html {
        font-size: 15.5px
    }
}

@media (max-width: 1500px) {
    html {
        font-size: 15px
    }
}

@media (max-width: 1450px) {
    html {
        font-size: 14.5px
    }
}

@media (max-width: 1400px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 1350px) {
    html {
        font-size: 13.5px
    }
}

@media (max-width: 1300px) {
    html {
        font-size: 13px
    }
}

@media (max-width: 1250px) {
    html {
        font-size: 12.5px
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 12px
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 15px
    }

    .nav-arrow {
        width: 70px;
        height: 70px;
    }
}


@media (max-width: 1400px) {
    .present__title {
        width: 60%;
    }

    .header__menu {
        width: 70%;
    }

    .header__burger {
        left: 5%;
    }

    .eco__model {
        top: -10%;
        right: 0;
    }

    .eco__table-container.third .eco__model {
        right: 3%;
        top: 43%;
    }

    .recipes__all-btn {
        margin-left: 30%;
    }

    .present {
        min-height: auto;
    }
}

@media (max-width: 1200px) {
    .header__menu-item--phone {
        padding-left: 0.9375rem;
    }

    .header__icons {
        width: 13%;
    }

    .header__burger {
        top: 10vh;
    }

    .menu__products-pic {
        height: 50vh;
    }

    .shops__map {
        height: 40vh;
    }
}

@media (max-width: 1024px) {
    .menu__product {
        font-size: 16px;
        padding: 10px 0;
    }

    .menu__nav-link {
        font-size: 12px;
    }

    .menu__nav {
        width: 25%;
    }

    .menu__content {
        height: 82%;
    }

    .header__menu,
    .header__icons {
        display: none;
    }

    .header__call-btn {
        display: block;
        position: absolute;
        right: 5%;
        top: 7.5vh;
    }

    .header__burger {
        top: 8vh;
        z-index: 3;
    }

    .header__nav {
        justify-content: center;
        width: 100%;
    }

    .header__logo {
        width: 11.25rem;
        height: 8.75rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    .wrapper--header {
        padding-top: 5vh;
    }

    .wrapper {
        width: calc(93% - 30px);
    }

    .wrapper--header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

    }

    .header__content {
        height: auto;
    }

    .header {
        background-position: center;
    }

    .header__subtitle {
        font-size: 18px;
    }

    .header__products {
        padding: 0;
        height: 80px;
        line-height: 80px;
        width: 40%;
    }

    .eco__item {
        width: 100%;
        align-items: center;
        margin-bottom: 6.25rem;
    }

    .eco__more-btn {
        margin: 5rem auto 0;
        width: 270px;
        display: block;

    }

    .recipes__all-btn {
        display: none;
    }

    .production {
        padding-bottom: 0;
    }

    .recipes {
        padding-bottom: 70px;
    }

    .recipes__slide-title {
        height: 95px;
    }

    .delivery .wrapper {
        flex-wrap: wrap;
    }

    .delivery__content {
        width: 50%;
    }

    .delivery {
        padding-bottom: 8.125rem;
    }

    h1 {
        font-size: 4.375rem;
        line-height: 4.6875rem;
    }

    h2 {
        font-size: 4.25rem;
        line-height: 4.5rem;
    }

    .present__item {
        width: auto;
        height: 450px;
    }

    .present__table {
        .owl-stage-outer {
            overflow: visible !important;
        }
    }

    .present {
        min-height: auto;
        padding-bottom: 8.125rem;
    }

    .present__subtitle {
        margin-top: .9375rem;
    }

    .present__table {
        margin-top: 4rem;
    }

    .shops__table {
        flex-wrap: wrap;
        margin-top: 4rem;
    }

    .shops__item {
        width: 100%;
        margin-bottom: 4rem;
    }

    .shops__map {
        height: 31.25rem;
        margin-bottom: 2.5rem;
    }

    .shops__map-title {
        font-size: 2rem;
    }

    .shops__map-address {
        font-size: 1.5rem;
    }

    .footer__nav {
        flex-wrap: wrap;
        border-bottom: none;
    }

    .footer__row {
        width: 45%;

        &:last-child {
            width: 100%;
            margin-top: 4rem;
        }
    }

    .footer__link {
        font-size: 1.4rem;
    }

    .footer__search-input {
        height: 50px;
        border-radius: 25px;
    }

    .footer__footer {
        display: none;
    }

    .footer__asap--mobile {
        display: block;
    }

    .footer__contacts-phone {
        display: none;
    }

    .present__item--present .present__item-text {
        font-size: 1.3rem;
    }

    .present__subtitle,
    .production__subtitle,
    .recipes__subtitle {
        font-size: 1.3rem;
    }

    .eco__item-text {
        font-size: 1.3rem;
    }

    .present__title {
        width: 80%;
    }

    .shops__table {
        margin-bottom: 30px;
    }

    .recipes__mobile-all {
        margin-top: 50px;
        padding: 30px 0;
        display: block;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 12px;
    }

    *[data-aos^=fade][data-aos^=fade] {
        opacity: 1;
        transform: none;
    }

    .menu {
        display: none;
    }

    .header__products {
        width: 100%;
        font-size: 14px;
    }

    .wrapper--header {
        padding-top: 3vh;
    }

    .header__logo {
        width: 175px;
        height: 140px;
    }

    .header__subtitle {
        font-size: 16px;
        line-height: 140%;
        width: 50%;
    }

    .production__nav,
    .recipes__nav {
        display: none;
    }

    .present {
        overflow: hidden;
    }

    .production__slider {
        display: flex;
        flex-wrap: wrap;
        height: auto;

        * {
            height: auto;
        }
    }

    .production__slide-box {
        height: 100%;
    }

    .production__slide-pic {
        width: 100%;
    }

    .mobile-menu__call {
        width: 50px;
        height: 50px;
    }

    .production__slide-title {
        opacity: 1;
        transform: none;
    }

    .production__slide {
        width: 100%;
        height: 500px;
        margin-bottom: 90px;
    }

    .production__slide-pic-container {
        height: 100%;
        overflow: hidden;
        @include swipeDownAnimation(100%, '.production__slide-box');
    }

    .production__slider {
        margin-bottom: 30px;
    }

    .production__catalog-btn {
        width: 100%;
    }

    .delivery__pic {
        position: static;
        width: 100%;
        height: 600px;
    }

    .wrapper--delivery {
        width: 100%;
    }

    .delivery {
        padding-bottom: 0;
    }

    .delivery__content {
        width: calc(93% - 30px);
        margin: 0 auto;
    }

    .delivery__table {
        flex-wrap: wrap;
    }

    .delivery__item {
        width: 100%;
        margin-bottom: 70px;
        padding-right: 30%;
    }

    .delivery__item-text {
        height: auto;
    }

    .delivery__item-title {
        margin-bottom: 15px;
    }

    .delivery__item-text {
        margin-bottom: 30px;
    }

    .eco__item-text,
    .present__item--present .present__item-text,
    .present__subtitle,
    .production__subtitle,
    .recipes__subtitle {
        font-size: 16px;
    }

    h2,
    h1 {
        font-size: 36px;
        line-height: 105.8%;
    }

    .header__title {
        font-size: 40px;
        line-height: 97.3%;
    }

    .wrapper {
        padding-top: 45px;
    }

    .eco__table {
        margin-top: 50px;
    }

    .eco__num {
        height: 65px;
        width: 65px;

        i {
            font-size: 36px;
            margin-top: -10px;
        }
    }

    .eco__item {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    .eco__item-content {
        margin-top: 30px;
        width: 100%;
        padding-left: 0;
        padding-right: 20%;
    }

    .eco__model {
        display: none;
    }

    .eco__more-btn {
        margin-top: 20px;
        width: 277px;
        font-size: 14px;
        line-height: 16px;
    }

    .eco__table-container {
        padding-bottom: 70px;
    }

    .enter__submit,
    .present__item-btn--present,
    .production__catalog-btn {
        font-size: 14px;
        line-height: 16px;
    }

    .present__item-icon {
        svg {
            width: 20px;
            height: 20px;
        }
    }

    .shops {
        height: auto;
    }

    .shops__map {
        background-size: contain;
    }
}

@media (max-width: 490px) {
    .production__slide {
        height: 320px;
        margin-bottom: 65px;
    }

    .production__slide-title {
        width: 100%;
    }

    .delivery__pic {
        height: 450px;
    }

    .shops__map {
        height: 210px;
    }

    .shops__map-title {
        font-size: 24px;
    }

    .shops__map-address {
        font-size: 16px;
    }

    .footer__link {
        font-size: 16px;
        padding: 10px 0;
    }

    .footer__search-input {
        height: 40px;
    }

    .footer__row:last-child {
        margin-top: 40px;
    }

    .header__title {
        font-size: 36px;
    }

    .header__subtitle {
        width: 70%;
    }

    .wrapper--header {
        padding-top: 20px;
    }

    .present__item {
        height: 315px;
    }

    .modal__close,
    .map .modal__close {
        width: 30px;
        height: 30px;
    }

    .map .modal__close {
        top: -35px;
        right: -35px;
    }

    .recipes__slide-title {
        font-size: 18px;
        line-height: 120.19%;
    }

    .recipes__slide-text {
        font-size: 16px;
        line-height: 140%;
    }

    .present__title {
        width: 100%;
    }

    .recipes__slide,
    .recipes__slider {
        height: 470px;
    }

    .recipes__slide-pic {
        height: 47%;
    }

    .recipes__slide-content {
        height: 53%;
    }

    .recipes__slider {
        margin-top: 35px;
    }

    .recipes__slide-title {
        height: auto;
    }

    .recipes__mobile-all {
        margin-top: 20px;
    }

    .recipes {
        padding-bottom: 30px;
    }

    .recipes__slide-portion-title,
    .recipes__slide-time-title,
    .recipes__slide-portion-label,
    .recipes__slide-time-label {
        font-size: 12px;
    }

    .footer__asap {
        width: 77px;
        height: 31px;
    }

    .mobile-menu__close {
        width: 30px;
        height: 30px;
    }

    .mobile-menu__call {
        width: 42px;
        height: 42px;
    }

    .mobile-menu__logo {
        top: 10px;
    }

    .mobile-menu__link {
        font-size: 14px;
        line-height: 16px;
    }

    .mobile-menu__content {
        padding: 0 25px 30px;
    }

    .mobile-menu__account-icon,
    .mobile-menu__cart-icon,
    .mobile-menu__contacts-icon {
        height: 30px;
        width: 30px;
    }

    .mobile-menu__account,
    .mobile-menu__cart,
    .mobile-menu__contacts {
        font-size: 16px;
        line-height: 140%;
    }

    .mobile-menu__phone {
        font-size: 24px;
    }

    .mobile-menu__soc {
        width: 25px;
        height: 25px;
    }

    .mobile-menu__search {
        margin-top: 3vh;
    }

    .mobile-menu__search-input {
        height: 50px;
        font-size: 16px;
    }

    .mobile-menu__search-btn {
        width: 25px;
        height: 25px;
    }

    .enter .modal__box {
        padding: 4vh 3vh;
    }

    .enter .modal__close {
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
    }

    .enter__input {
        height: 50px;
    }

    .enter__submit {
        padding: 0;
        height: 50px;
        width: 100%;
    }

    .enter__alternative {
        margin-top: 7vh;
    }

    .eco__item-content {
        padding-right: 15%;
    }

    .enter .modal__box {
        width: 90%;
    }

    .footer .wrapper {
        padding-top: 50px;
    }

    .delivery__item-title {
        font-size: 18px;
    }

    .delivery__item-btn {
        font-size: 14px;
    }

    .delivery__item-text {
        font-size: 16px;
    }

    .delivery__item {
        padding-right: 0;
    }
}

@media (max-width: 350px) {
    .header__call-btn {
        width: 55px;
        height: 55px;
    }

    .header__logo {
        padding-right: 5px;
    }

    h1 {
        font-size: 28px;
    }
}

/*MAKING MEDIA*/

@media (max-width: 1400px) {
    .about__photo-container {
        height: 500px;
        @include swipeDownAnimation(500px, '.about__photo-box');
    }
}

@media (max-width: 1200px) {
    .about__photo-container {
        height: 400px;
        @include swipeDownAnimation(400px, '.about__photo-box');
    }

    .about__photo-container img {
        object-fit: contain;
        object-position: center;
    }

    .second-menu {
        padding: 0 calc(7% - 15px) 0 5.3%;
    }

    .about__text {
        padding-right: 15%;
    }

    .burger {
        top: 10.5%;
    }
}

@media (max-width: 1024px) {

    .second-menu__list,
    .second-menu__icons {
        display: none;
    }

    .second-menu__call-btn {
        display: block;
        width: 47px;
        height: 47px;

        svg {
            width: 100%;
            height: 100%;

            path {
                fill: $text;
            }

            rect {
                stroke: $text;
            }
        }
    }

    .about__text {
        padding-right: 0;
    }

    .features__item {
        width: 90%;
        margin-bottom: 70px;
    }

    .features {
        height: auto;
    }

    .features__table {
        height: auto;
    }

    .news__all-btn {
        display: none;
    }

    .news__title {
        width: 60%;
    }

    .news__mobile-all {
        display: block;
    }

    .news {
        padding-bottom: 70px;
    }

    .burger {
        top: 8.5%;
    }

    .about__photo-container {
        height: 350px;
        @include swipeDownAnimation(350px, '.about__photo-box');
    }

    .about__photo-container img {
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .about__content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about__text {
        width: 90%;
    }

    .about__photo-container {
        width: 90%;
        height: 600px;
        margin-bottom: 40px;
        @include swipeDownAnimation(600px, '.about__photo-box');
    }

    .about__text-text,
    .crumbs__crumb,
    .features__item-text,
    .about__text-link {
        font-size: 14px;
    }

    .news__slide-labels {
        * {
            font-size: 16px;
        }
    }

    .news__slide,
    .news__slider {
        height: 500px;
    }

    .news__slide-title {
        font-size: 24px;
    }

    .about__photo-container img {
        object-fit: contain;
        object-position: bottom;
    }
}

@media (max-width: 620px) {
    .about__title {
        width: 100%;
    }

    .about__photo-container {
        width: 100%;
        @include swipeDownAnimation(500px, '.about__photo-box');
    }
}

@media (max-width: 490px) {
    .crumbs__crumb a {
        color: $text;
        opacity: 0.4;
        font-weight: 500;
    }

    .crumbs__crumb.active a {
        opacity: 1;
    }

    .crumbs__crumb {
        font-size: 12px;
    }

    .about__title {
        margin-top: 40px;
    }

    .about__title {
        font-size: 36px;
        line-height: 121.8%;
    }

    .about__content {
        margin-top: 30px;
    }

    .about__photo-container {
        @include swipeDownAnimation(415px, '.about__photo-box');
    }

    .about__text {
        width: 100%;
    }

    .about__text-title {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .about__text-link,
    .about__text-text,
    .features__item-text,
    .news__slide-labels * {
        font-size: 14px;
    }

    .about__text-link {
        margin-top: 30px;
        font-size: 16px;
    }

    .about {
        padding-bottom: 55px;
    }

    .features__item-title {
        font-size: 18px;
        line-height: 120.19%;
        margin-bottom: 30px;
    }

    .features__item {
        margin-bottom: 60px;
    }

    .news__nav {
        display: none;
    }

    .news__slide-title {
        font-size: 18px;
    }

    .news__slide,
    .news__slider {
        height: 450px;
    }
}

/*COOPERATION MEDIA*/

@media (max-width: 1250px) {
    .cooperation-request .modal__close {
        top: 3%;
        right: 3%;
    }
}

@media (max-width: 1200px) {

    .docs__slider,
    .docs__slide {
        height: 470px;
    }
}

@media (max-width: 1024px) {
    .cooperation-request {
        .modal__box {
            width: 70%;
            padding: 5% 3%;
        }
    }

    .cooperation-request__title {
        font-size: 24px;
    }

    .cooperation-request__input:not(.cooperation-request__textarea) {
        height: 60px;
        @include placeholder($text, 12px)
    }

    .cooperation-request__textarea {
        @include placeholder($text, 12px)
    }

    .cooperation-request__submit-btn {
        margin-top: 10px;
    }

    .supplies__item {
        width: 47%;
        margin-bottom: 30px;
        margin-right: 0;
    }

    .supplies__table {
        justify-content: space-between;
    }

    .supplies__item-text {
        font-size: 18px;
    }

    .cooperation__item-num {
        width: 150px;
        height: 150px;
    }

    .cooperation__item:nth-child(2n) .cooperation__item-text {
        width: 40%;
    }

    .cooperation__item:nth-child(2n) {
        padding-left: 45%;
    }

    .request .wrapper {
        flex-wrap: wrap;
    }

    .request__title {
        width: 100%;
        margin-bottom: 50px;
    }

    .request__docs {
        width: 100%;
    }

    .request__request-btn {
        width: 50%;
    }

    .docs__slide,
    .docs__slider {
        height: 400px;
    }
}

@media (max-width: 620px) {
    .cooperation-request {
        .modal__box {
            width: 80%;
            padding: 8% 3%;
        }
    }

    .cooperation-request__title,
    .cooperation-request__form {
        width: 75%;
    }

    .cooperation__item-num {
        width: 120px;
        height: 120px;
    }

    .cooperation__item {
        flex-direction: column;
        align-items: flex-start;
    }

    .cooperation__item-text {
        margin-top: 20px;
        margin-left: 0;
        width: 50%;
        font-size: 14px;
    }

    .cooperation__item:nth-child(2n) {
        padding-left: 45%;
    }

    .cooperation__item:nth-child(2n) .cooperation__item-text {
        width: 75%;
    }

    .request__download-link {
        font-size: 14px;
    }

    .docs__nav {
        display: none;
    }
}


@media (max-width: 490px) {
    .cooperation-request {
        .modal__box {
            width: 90%;
            padding: 9% 4%;
        }
    }

    .success__title {
        font-size: 56px;
    }

    .cooperation-request__title,
    .cooperation-request__form {
        width: 80%;
    }

    .cooperation-request__title {
        font-size: 20px;
    }

    .cooperation-request__input:not(.cooperation-request__textarea) {
        height: 50px;
    }

    .cooperation-request .modal__close {
        height: 20px;
        width: 20px;
    }

    .cooperation-request .modal__close {
        top: 15px;
        right: 15px;
    }

    .cooperation__tasks,
    .cooperation__title {
        margin-top: 40px;
    }

    .cooperation__table {
        margin-top: 45px;
    }

    .cooperation__item-num {
        width: 65px;
        height: 65px;

        i {
            font-size: 36px;
            line-height: 48px;
            margin-top: -12px;
        }
    }

    .cooperation__item:nth-child(2n) .cooperation__item-text {
        width: 85%;
    }

    .supplies__item-pic {
        margin-bottom: 30px;
        @include swipeDownAnimation(300px, '.supplies__item-box');
    }

    .supplies__item {
        width: 100%;
        margin-bottom: 60px;
    }

    .supplies__item-text {
        font-size: 18px;
        line-height: 120.19%;
    }

    .supplies .wrapper {
        padding-bottom: 0;
        padding-top: 30px;
    }

    .supplies__title {
        margin-bottom: 45px;
    }

    .supplies__item-pic {
        height: 280px;
    }

    .supplies__item-pic img {
        object-position: top;
    }

    .request__title {
        margin-bottom: 45px;
    }

    .request__download-icon {
        margin-right: 25px;
    }

    .request__download-btn {
        align-items: flex-end;
    }

    .request__request-btn {
        margin-top: 50px;
        width: 100%;
        font-size: 14px;
    }

    .docs__slide,
    .docs__slider {
        height: 380px;
    }

    .docs__slide-pic {
        object-fit: cover;
    }

    .docs {
        padding-bottom: 100px;
    }
}

@media (max-width: 350px) {
    .success__title {
        font-size: 42px;
        line-height: 45px;
    }

    .cooperation-request__form,
    .cooperation-request__title {
        width: 90%;
    }

    .cooperation-request__title {
        font-size: 16px;
    }

    .cooperation-request__input:not(.cooperation-request__textarea) {
        height: 45px;
    }
}

/*RECIPES MEDIA*/

@media (max-width: 1200px) {
    .recipes-header {
        .recipes__slide {
            width: 31%;
            margin-right: 17px;
        }

        .recipes__slide-title {
            height: 60px;
        }

        .recipes__slide,
        .recipes__slider {
            height: 450px;
        }

        .recipes__slide:nth-child(5n+4),
        .recipes__slide:nth-child(5n+5) {
            width: 47.6%;
            height: 320px;
            overflow: hidden;

            .recipes__slide-content {
                padding: 25px;
            }

            .recipes__slide-time-container {
                padding-top: 15px;
            }
        }

        .recipes__slide-title {
            font-size: 18px;
        }
    }
}

@media (max-width: 1024px) {
    .recipes-header {
        .recipes__slide {
            width: 47%;
            margin-right: 0;
            margin-bottom: 3.25rem;
            height: 470px;
        }

        &__table {
            justify-content: space-between;
        }

        .recipes__slide-text {
            font-size: 14px;
        }

        .recipes__slide-portion-icon,
        .recipes__slide-time-icon {
            width: 20px;
            height: 20px;
            margin-right: 15px;
        }

        .recipes__slide:nth-child(5n+4),
        .recipes__slide:nth-child(5n+5) {
            display: block;
            height: 470px;
            width: 47%;

            .recipes__slide-pic,
            .recipes__slide-content {
                width: 100%;
                height: 50%;
            }

            .recipes__slide-content {
                padding: 1.4375rem;
            }

            .recipes__slide-info {
                flex-direction: row;
                align-items: flex-end;
                justify-content: space-between;
            }

            .recipes__slide-time {
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width: 768px) {
    .recipes-header {

        .recipes__slide,
        .recipes__slide:nth-child(5n+4),
        .recipes__slide:nth-child(5n+5) {
            height: 450px;

            .recipes__slide-pic {
                height: 40%;
            }

            .recipes__slide-content {
                height: 60%;
            }

            .recipes__slide-title {
                height: 50px;
            }

            .recipes__slide-text {
                margin-top: 0;
            }
        }
    }
}

@media (max-width: 620px) {
    .recipes-header {
        padding-bottom: 100px;

        .recipes__slide,
        .recipes__slide:nth-child(5n+4),
        .recipes__slide:nth-child(5n+5) {
            height: 500px;
            width: 100%;

            .recipes__slide-pic {
                height: 50%;
            }

            .recipes__slide-content {
                height: 50%;
            }

            .recipes__slide-portion-title,
            .recipes__slide-time-title,
            .recipes__slide-portion-label,
            .recipes__slide-time-label {
                font-size: 14px;
            }

            .recipes__slide-portion-icon,
            .recipes__slide-time-icon {
                height: 25px;
                width: 25px;
            }
        }

        .recipes__slide:last-child {
            margin-bottom: 0;
        }

        &__more-btn {
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: .06em;
            text-transform: uppercase;
            text-align: center;
            width: 100%;
            margin-top: 50px;
            padding: 30px 0;
            background: transparent;
            color: $accent;
        }
    }
}

@media (max-width: 490px) {
    .recipes-header {
        &__title {
            margin: 40px 0;
        }

        .recipes__slide,
        .recipes__slide:nth-child(5n+4),
        .recipes__slide:nth-child(5n+5) {
            height: 550px;

            .recipes__slide-content {
                padding: 25px 35px 45px 20px;
            }

            .recipes__slide-portion-label,
            .recipes__slide-portion-title,
            .recipes__slide-time-label,
            .recipes__slide-time-title {
                font-size: 12px;
            }

            .recipes__slide-portion,
            .recipes__slide-time {
                width: 45%;
            }
        }
    }
}

@media (max-width: 350px) {
    .recipes-header {

        .recipes__slide,
        .recipes__slide:nth-child(5n+4),
        .recipes__slide:nth-child(5n+5) {
            height: 500px;

            .recipes__slide-pic {
                height: 40%;
            }

            .recipes__slide-content {
                height: 60%;
                padding: 20px 30px 30px 15px;
            }

            .recipes__slide-portion-icon,
            .recipes__slide-time-icon {
                height: 20px;
                width: 20px;
            }
        }
    }
}

/*RECIPE MEDIA*/

@media (max-width: 1024px) {
    .recipe__main-container {
        flex-wrap: wrap;
        height: auto;
    }

    $recipePicHeight: 430px;

    .recipe__pic-container {
        width: 100%;
        height: $recipePicHeight;
    }

    .recipe__pic-box {
        @include swipeDown($recipePicHeight);

        img {
            height: $recipePicHeight;
        }
    }

    .recipe__main-info {
        width: 80%;
        height: auto;
        margin-top: 30px;
    }

    .recipe__ingredients {
        margin-top: 30px;
    }

    .recipe__info {
        width: 100%;
    }

    .other-recipes {
        .recipes__slide {
            width: 100%;
        }

        .recipes__slide-title {
            width: 100%;
        }

        .recipes__slide-content {
            padding: 15px 20px 25px;
        }

        .recipes__slide-text {
            width: 100%;
        }
    }

    .recipe__title {
        width: 100%;
    }
}

@media (max-width: 620px) {
    $recipePicHeight: 350px;

    .recipe__pic-container {
        width: 100%;
        height: $recipePicHeight;
    }

    .recipe__pic-box {
        img {
            height: $recipePicHeight;
        }
    }

    .recipe__steps {
        width: 70%;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .recipe__annotation,
    .recipe__ingredient {
        font-size: 14px;
    }

    .recipe__ingredients-title {
        font-size: 18px;
    }

    .recipe__ingredients {
        margin-top: 40px;
    }

    .recipe__steps-title {
        font-size: 18px;
    }

    .recipe__steps-text {
        font-size: 14px;
    }

    .other-recipes {
        padding-bottom: 85px;
    }

    .other-recipes .wrapper {
        padding-top: 50px;
    }
}

@media (max-width: 490px) {
    .recipe__title {
        margin-top: 40px;
        margin-bottom: 35px;
    }

    .recipe__info {
        margin-top: 40px;
    }

    .recipe__chars {
        padding: 20px 0 23px;
    }

    .recipe__portion-title,
    .recipe__time-title,
    .recipe__portion-label,
    .recipe__time-label {
        font-size: 12px;
    }

    .recipe__portion-icon,
    .recipe__time-icon {
        width: 23px;
        height: 23px;
    }

    .recipe__steps-step {
        margin-top: 30px;
    }

    .recipe__steps-num {
        font-size: 18px;
    }

    .recipe__steps {
        width: 100%;
    }

    .other-recipes__title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 25px;
    }

    .recipe__main-info {
        width: 100%;
    }
}

/*NEWS PAGE MEDIA*/

@media(max-width: 1200px) {
    .news-header__news {
        width: 47%;
    }

    .news-header__pic-container {
        @include swipeDownAnimation(280px, '.news-header__pic-box');
    }
}

@media(max-width: 1024px) {
    .news-header__news {
        width: 48%;
    }

    .news-header__pic-container {
        @include swipeDownAnimation(240px, '.news-header__pic-box');
    }

    .news-header__news-pub {
        margin-bottom: 15px;
    }

    .news-header__news-title {
        font-size: 18px;
        margin-top: 15px;
    }

    .news-header__news {
        margin-bottom: 70px;
    }

    .news-header__table {
        padding-bottom: 120px;
    }

    .news-header {
        padding-bottom: 10.625rem;
    }
}

@media(max-width: 768px) {
    .news-header__pic-container {
        @include swipeDownAnimation(200px, '.news-header__pic-box');
    }

    .news-header__more-btn {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: .06em;
        text-transform: uppercase;
        background: transparent;
        color: $accent;
        text-align: center;
        width: 100%;
        margin-top: 15px;
        padding: 30px 0;
    }
}

@media(max-width: 620px) {
    .news-header__pic-container {
        @include swipeDownAnimation(170px, '.news-header__pic-box');
    }
}

@media(max-width: 490px) {
    .news-header__news {
        width: 100%;
    }

    .news-header__pic-container {
        @include swipeDownAnimation(285px, '.news-header__pic-box');
    }

    .news-header__news {
        margin-bottom: 45px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .news-header__news:nth-child(2n) {
        transform: translateY(0);
    }

    .news-header__news-title {
        margin-top: 25px;
    }

    .news-header__title {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .news-header__news-pub {
        font-size: 16px;
        margin-bottom: 12px;
    }

    .news-header__table {
        padding-bottom: 55px;
    }

    .news-header {
        padding-bottom: 70px;
    }
}

@media(max-width: 350px) {
    .news-header__pic-container {
        @include swipeDownAnimation(230px, '.news-header__pic-box');
    }
}

/*FEEDBACK PAGE MEDIA*/

.feedback__title {
    width: 100%;
}

.feedback__quote {
    width: 55%;
}

.feedback__item-pic {
    @include swipeDownAnimation(230px, '.feedback__item-box');
}

.feedback {
    padding-bottom: 11.875rem;
}