@import 'root';
@import 'keyframes';

// Стилизация скроллбра

%scrollbar::-webkit-scrollbar {
    width: .5%;
    min-width: 8px;
}

%scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

%scrollbar::-webkit-scrollbar-thumb {
    border-left: 1px solid #F2F2F2;
    background: $accent;
}

// Крестик для кнопки закрытия
%close-btn {
    position: absolute;
    right: 5%;
    top: 3%;
    height: 20px;
    width: 20px;
    background: transparent;

    &::after,
    &::before {
        transition: background-color .3s;
        content: '';
        width: 100%;
        height: 2px;
        background-color: $gen;
        position: absolute;
        top: 50%;
        right: calc(50% - 10px);
    }

    &::after {
        transform: rotate(45deg);
    }

    &::before {
        transform: rotate(135deg);
    }

    &:hover::after,
    &:hover::before {
        background-color: $accent;
    }
}

%burger {
    width: 36px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0.2rem;
    cursor: pointer;
    z-index: 3;

    &::after,
    &::before,
    &>span {
        content: '';
        width: 100%;
        height: 2px;
        background-color: $cream;
        margin-bottom: 13px;
        transition: all .3s ease;
    }

    &::after {
        margin-bottom: 0;
        width: 50%;
    }
}

%arrow {
    width: 6rem;
    height: 6rem;

    svg {
        width: 100%;
        height: 100%;
    }

    &:hover {
        circle{
            fill: $accent;
        }
        

        path {
            fill: $cream;
        }
    }
}

%green-btn {
    width: 20.6875rem;
    background-color: $accent;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    letter-spacing: 0.06em;
    color: $cream;
    padding: 1.875rem 0;
    margin: 0 auto;
    display: block;
    transition-property: background-color, color, border-color;
    transition-duration: .3s; 

    &:hover {
        background-color: $darkAccent !important;
        color: $cream !important;
    }
}

%transparent-btn {
    width: 20.6875rem;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    letter-spacing: 0.06em;
    border: 1px solid $cream;
    color: $cream;
    padding: 1.875rem 0;
    margin: 0 auto;
    display: block;
    transition-property: background-color, color, border-color;
    transition-duration: .3s; 

    &:hover {
        background-color: $cream;
        color: $text;
    }
}

@mixin hover($color: $cream) {
    & {
         position: relative;
    }
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        background: $color;
        height: 1px;
        transition: width .4s ease-out;
    }

    &:hover {
        &:after {
            width: 100%;
        }
    }
}

@mixin mobileGreenBtn {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .06em;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 30px 0;
    color: $accent;
    background: transparent;
}

@mixin swipeDown($height, $speed:'.6s') {
    & {
        transition: all $speed ease-out;
    }

    &[data-aos="swipe-down"].aos-animate {
        height: $height;
    }

    @media (max-width: 768px) {
        & {
            height: $height;
        }
    }
}

@mixin swipeDownAnimation($height, $child, $speed: .7s) {
    position: relative;
    height: $height;

     #{$child} {
        width: 100%;
        height: 0;
        overflow: hidden;
        opacity: 1;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: height $speed ease-out;

          &.animated {
                height: $height;
            }

        &[data-aos="swipe-down"].aos-animate {
            height: $height;
             transition: height $speed ease-out;
        }

        img {
            object-position: center;
            width: 100%;
            z-index: 1;
            position: absolute;
            bottom: 0;
            height: $height;
            left: 0;
            object-fit: cover;
        }
    }

    @media (max-width: 768px) {
        #{$child} {
            height: $height;
        }
    }
}

@mixin fadeUp() {
    & {
        opacity: 0;
        transform: translateY(20px);
        transition: all .6s ease-out .5s;
    }

    &.animated {
        opacity: 1;
        transform: translateY(0);
    }

    @media (max-width: 768px) {
        & {
            opacity: 1;
            transform: none;
        }
    }
}

@mixin sliderOverflow() {
    & .owl-stage-outer {
        overflow: visible !important;
    }
}

@mixin placeholder($color, $fontSize:14px) {
    &::-webkit-input-placeholder {
        color: $color;
        font-size: $fontSize;
    }

    &::-moz-placeholder {
        color: $color;
        font-size: $fontSize;
    }

    /* Firefox 19+ */
    &:-moz-placeholder {
        color: $color;
        font-size: $fontSize;
    }

    /* Firefox 18- */
    &:-ms-input-placeholder {
        color: $color;
        font-size: $fontSize;
    }
}