$gen: #000000;
$accent: #5C8741;
$bgc: #f5f5f5;
$text: #61573E;
$cream: #FDEFCE;
$lightBrown: #F9F5F3;
$font: 'Montserrat', sans-serif;
$accentFont: 'Playfair Display', serif;

$productionSlideHeight: 31.25rem;

$makingDirectorHeight: 40rem;